.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #000; /* Fundo preto */
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.player {
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player.active {
  background-color: #f0f0f0; /* Fundo claro */
  color: #000; /* Texto escuro */
}

.player.inactive {
  background-color: #000; /* Fundo escuro */
  color: #f0f0f0; /* Texto claro */
}

.board {
  display: inline-block;
  margin: 0 20px;
}

.status {
  margin-bottom: 10px;
  color: #fff; /* Texto claro */
}

.emoji {
  font-size: 2rem;
  margin-bottom: 10px;
}

.square {
  width: 84px;
  height: 84px;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
